.about {
    min-height: 80vh;
    background: #141414;
    background-size: cover !important;
    background-position: center !important;
    color: white;
    border-bottom: 1px solid var(--border-bottom);
}

.about h1 {
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
    color: var(--secondary-color);
}

.about p {
    font-size: 2.5rem;
    padding-top: 1rem;
    font-weight: normal;
    text-align: center;
    font-family: 'Merriweather', serif; 
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

@media screen and (max-width: 600px) {

    .about {
        min-height: 50vh;
    }
    .about p{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1000px) {

    .html {
        font-size: 60%;
    }

}

@media screen and (min-width: 1090px) {

    .html {
        font-size: 60%;
    }

    .about {
        min-height: 50vh;
    }
    .about p{
        font-size: 1.8rem;
    }
}


@media screen and (max-width: 1090px) {

    .html {
        font-size: 60%;
    }

    .about {
        min-height: 50vh;
    }
    .about p{
        font-size: 1.8rem;

    }
}

