.footer {
  text-align: center;
}

.footer h1 {
  color: white;
  padding: 10px;
  font-family: 'Carattere', cursive;
  margin-top: 2rem;
}

.footer .contact {
  color: var(--secondary-color);
}

.icons {
  margin-top: 10px;
  padding-bottom: 20px; /* Adjust as needed for spacing */
}

.icons a {
  margin-right: 10px; /* Adjust as needed for spacing between icons */
  color: var(--secondary-color);
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
}

.icons a:hover {
  
  color: var(--secondary-color);
  
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .footer h1 {
    font-size: 16px; /* Adjust the font size as needed */
  }

  .icons {
    margin-top: 10px;
  }

  .icons a {
    margin: 0 10px 10px 0; /* Adjust as needed for spacing on mobile */
    display: block;
  }
}
